x-default: &default
  networks:
    - kong-network
  restart: on-failure
{% if spec.control_plane.value == 'self-managed' %}

x-kong-env: &kong-env
  KONG_DATABASE: postgres
  KONG_PG_HOST: database
  KONG_PG_PASSWORD: kong
  KONG_PASSWORD: kong
{% endif %}

networks:
  kong-network:

services:
{% for service in services %}
{% filter indent(width=2, first=True) %}
{% include 'services/' ~ service ~ '.yaml.j2' %}
{% endfilter %}
{% endfor %}
